<template name="dashboard3">
    {{> flashMessages}}
    <div class="wrapper wrapper-content"> 
        <div class="row">
            <div class="col-lg-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
                        <div>
                            <h1 class="m-b-xs">{{getFlowRateClient}} L / Min</h1>

                            <h3 class="font-bold no-margins">
                                Current Flow Rate
                            </h3>
                            <div class="pull-right">
                                <!--Date Range Picker -->
                                <select id="DateRange">
                                    <option value="1">A minute Ago</option>
                                    <option value="7">few minutes Ago</option>
                                    <option value="30">few hours Ago</option>
                                </select>
                            </div>

                        </div>

                        <div class="ibox float-e-margins">
                            <div class="ibox-title">
                                <h5>Live Flow Rate (Last Minute)</h5> {{>iboxTools}}
                            </div>
                            <div class="ibox-content">
                               <label>Enable/Disable Water </label><input id="toggle-event"  type="checkbox" {{getEnabledStatus}} data-toggle="toggle" data-size="mini">

                                    <canvas id="lineChartFLowRate" width="200" height="70"></canvas>


                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>






        <div class="row">

            <!--  new current flow -->
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h5>New current flow</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><div>{{getCurrentFlow}} L/s</div></h1>
                        <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
                        <small>Litres</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h5>New Tem</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><div>{{getTem}} Celsius </div></h1>

                        <div class="stat-percent font-bold text-navy">200% <i class="fa fa-level-up"></i></div>
                        <small>Litres</small>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-primary pull-right">Today</span>
                        <h5>Daily Water Use</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins"><div>{{getFlowRateDaily}} L</div></h1>

                        <div class="stat-percent font-bold text-navy">20% <i class="fa fa-level-up"></i></div>
                        <small>Litres</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-info pull-right">Monthly</span>
                        <h5>Monthly Water Use</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{getFlowRateMonthly}} L</h1>

                        <div class="stat-percent font-bold text-info">40% <i class="fa fa-level-up"></i></div>
                        <small>Litres</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-warning pull-right">Annual</span>
                        <h5>Yearly Water Use</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{getFlowRateYearly}} L</h1>

                        <div class="stat-percent font-bold text-warning">16% <i class="fa fa-level-up"></i></div>
                        <small>Litres</small>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <!-- <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <h5>Send SPI</h5>
                    <input type="text" class="sendSpiInput" name="sendSpiInput" value="" placeholder="spi array" />
                    <input type="text" class="sendSpiReadCount" name="sendSpiReadCount" value="" placeholder="read bytes" />
                </div>
                <div class="ibox float-e-margins">
                 <button class="sendSPIButton">Send SPI</button>
                 <button class="sendSPIinit">Initialise</button>
                </div>
            </div> -->


            <!--div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Reset</h5>

                    </div>

                    <div class="ibox-content inspinia-timeline">
                        <button class="resetButton">Reset Water Flow History</button>
                    </div>
                </div>
            </div-->

        </div>

    </div>

</template>
