<template name="iboxTools">
    <div class="ibox-tools">
        <a class="collapse-link">
            <i class="fa fa-chevron-up"></i>
        </a>
        {{#if fullScreen}}
            <a class="fullscreen-link">
                <i class="fa fa-expand"></i>
            </a>
        {{/if}}
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <i class="fa fa-wrench"></i>
        </a>
        <ul class="dropdown-menu dropdown-user">
            <li><a href="#" id="showLine">Show Line Graph</a>
            </li>
            <li><a href="#" id="showBar">Show Bar Graph</a>
            </li>
        </ul>
        <a class="close-link">
            <i class="fa fa-times"></i>
        </a>
    </div>
</template>